
extends layouts/iframe


block content

  .state-cards
    .swiper-wrapper
      div.swiper-slide United States
      div.swiper-slide Alabama
      div.swiper-slide Alaska
      div.swiper-slide Arizona
      div.swiper-slide Arkansas
      div.swiper-slide California
      div.swiper-slide Colorado
      div.swiper-slide Connecticut
      div.swiper-slide Delaware
      div.swiper-slide Florida
      div.swiper-slide Georgia
      div.swiper-slide Hawaii
      div.swiper-slide Idaho
      div.swiper-slide Illinois
      div.swiper-slide Indiana
      div.swiper-slide Iowa
      div.swiper-slide Kansas
      div.swiper-slide Kentucky
      div.swiper-slide Louisiana
      div.swiper-slide Maine
      div.swiper-slide Maryland
      div.swiper-slide Massachusetts
      div.swiper-slide Michigan
      div.swiper-slide Minnesota
      div.swiper-slide Mississippi
      div.swiper-slide Missouri
      div.swiper-slide Montana
      div.swiper-slide Nebraska
      div.swiper-slide Nevada
      div.swiper-slide New Hampshire
      div.swiper-slide New Jersey
      div.swiper-slide New Mexico
      div.swiper-slide New York
      div.swiper-slide North Carolina
      div.swiper-slide North Dakota
      div.swiper-slide Ohio
      div.swiper-slide Oklahoma
      div.swiper-slide Oregon
      div.swiper-slide Pennsylvania
      div.swiper-slide Rhode Island
      div.swiper-slide South Carolina
      div.swiper-slide South Dakota
      div.swiper-slide Tennessee
      div.swiper-slide Texas
      div.swiper-slide Utah
      div.swiper-slide Vermont
      div.swiper-slide Virginia
      div.swiper-slide Washington
      div.swiper-slide West Virginia
      div.swiper-slide Wisconsin
      div.swiper-slide Wyoming

  .state-picker
    .swiper-wrapper
      div.swiper-slide National
      div.swiper-slide Ala.
      div.swiper-slide Alaska
      div.swiper-slide Ariz.
      div.swiper-slide Ark.
      div.swiper-slide Calif.
      div.swiper-slide Colo.
      div.swiper-slide Conn.
      div.swiper-slide Del.
      div.swiper-slide Fla.
      div.swiper-slide Ga.
      div.swiper-slide Hawaii
      div.swiper-slide Idaho
      div.swiper-slide Ill.
      div.swiper-slide Ind.
      div.swiper-slide Iowa
      div.swiper-slide Kan.
      div.swiper-slide Ky.
      div.swiper-slide La.
      div.swiper-slide Maine
      div.swiper-slide Md.
      div.swiper-slide Mass.
      div.swiper-slide Mich
      div.swiper-slide Minn.
      div.swiper-slide Miss.
      div.swiper-slide Mo.
      div.swiper-slide Mont.
      div.swiper-slide Neb.
      div.swiper-slide Nev.
      div.swiper-slide N.H.
      div.swiper-slide N.J.
      div.swiper-slide N.M.
      div.swiper-slide N.Y.
      div.swiper-slide N.C.
      div.swiper-slide N.D.
      div.swiper-slide Ohio
      div.swiper-slide Okla.
      div.swiper-slide Ore.
      div.swiper-slide Pa.
      div.swiper-slide R.I.
      div.swiper-slide S.C.
      div.swiper-slide S.D.
      div.swiper-slide Tenn.
      div.swiper-slide Texas
      div.swiper-slide Utah
      div.swiper-slide Vt.
      div.swiper-slide Va.
      div.swiper-slide Wash.
      div.swiper-slide W. Va.
      div.swiper-slide Wis.
      div.swiper-slide Wyo.
