
extends layouts/iframe


block content

  ol.picker-ol
    li.picker-li United States
    li.picker-li Alabama
    li.picker-li Alaska
    li.picker-li Arizona
    li.picker-li Arkansas
    li.picker-li California
    li.picker-li Colorado
    li.picker-li Connecticut
    li.picker-li Delaware
    li.picker-li Florida
    li.picker-li Georgia
    li.picker-li Hawaii
    li.picker-li Idaho
    li.picker-li Illinois
    li.picker-li Indiana
    li.picker-li Iowa
    li.picker-li Kansas
    li.picker-li Kentucky
    li.picker-li Louisiana
    li.picker-li Maine
    li.picker-li Maryland
    li.picker-li Massachusetts
    li.picker-li Michigan
    li.picker-li Minnesota
    li.picker-li Mississippi
    li.picker-li Missouri
    li.picker-li Montana
    li.picker-li Nebraska
    li.picker-li Nevada
    li.picker-li New Hampshire
    li.picker-li New Jersey
    li.picker-li New Mexico
    li.picker-li New York
    li.picker-li North Carolina
    li.picker-li North Dakota
    li.picker-li Ohio
    li.picker-li Oklahoma
    li.picker-li Oregon
    li.picker-li Pennsylvania
    li.picker-li Rhode Island
    li.picker-li South Carolina
    li.picker-li South Dakota
    li.picker-li Tennessee
    li.picker-li Texas
    li.picker-li Utah
    li.picker-li Vermont
    li.picker-li Virginia
    li.picker-li Washington
    li.picker-li West Virginia
    li.picker-li Wisconsin
    li.picker-li Wyoming

  div.slick-ol
    div.slick-li United States
    div.slick-li Alabama
    div.slick-li Alaska
    div.slick-li Arizona
    div.slick-li Arkansas
    div.slick-li California
    div.slick-li Colorado
    div.slick-li Connecticut
    div.slick-li Delaware
    div.slick-li Florida
    div.slick-li Georgia
    div.slick-li Hawaii
    div.slick-li Idaho
    div.slick-li Illinois
    div.slick-li Indiana
    div.slick-li Iowa
    div.slick-li Kansas
    div.slick-li Kentucky
    div.slick-li Louisiana
    div.slick-li Maine
    div.slick-li Maryland
    div.slick-li Massachusetts
    div.slick-li Michigan
    div.slick-li Minnesota
    div.slick-li Mississippi
    div.slick-li Missouri
    div.slick-li Montana
    div.slick-li Nebraska
    div.slick-li Nevada
    div.slick-li New Hampshire
    div.slick-li New Jersey
    div.slick-li New Mexico
    div.slick-li New York
    div.slick-li North Carolina
    div.slick-li North Dakota
    div.slick-li Ohio
    div.slick-li Oklahoma
    div.slick-li Oregon
    div.slick-li Pennsylvania
    div.slick-li Rhode Island
    div.slick-li South Carolina
    div.slick-li South Dakota
    div.slick-li Tennessee
    div.slick-li Texas
    div.slick-li Utah
    div.slick-li Vermont
    div.slick-li Virginia
    div.slick-li Washington
    div.slick-li West Virginia
    div.slick-li Wisconsin
    div.slick-li Wyoming

  //- Slider main container
  .swiper-container
    //- Additional required wrapper
    .swiper-wrapper
      //- Slides
      div.swiper-slide United States
      div.swiper-slide Alabama
      div.swiper-slide Alaska
      div.swiper-slide Arizona
      div.swiper-slide Arkansas
      div.swiper-slide California
      div.swiper-slide Colorado
      div.swiper-slide Connecticut
      div.swiper-slide Delaware
      div.swiper-slide Florida
      div.swiper-slide Georgia
      div.swiper-slide Hawaii
      div.swiper-slide Idaho
      div.swiper-slide Illinois
      div.swiper-slide Indiana
      div.swiper-slide Iowa
      div.swiper-slide Kansas
      div.swiper-slide Kentucky
      div.swiper-slide Louisiana
      div.swiper-slide Maine
      div.swiper-slide Maryland
      div.swiper-slide Massachusetts
      div.swiper-slide Michigan
      div.swiper-slide Minnesota
      div.swiper-slide Mississippi
      div.swiper-slide Missouri
      div.swiper-slide Montana
      div.swiper-slide Nebraska
      div.swiper-slide Nevada
      div.swiper-slide New Hampshire
      div.swiper-slide New Jersey
      div.swiper-slide New Mexico
      div.swiper-slide New York
      div.swiper-slide North Carolina
      div.swiper-slide North Dakota
      div.swiper-slide Ohio
      div.swiper-slide Oklahoma
      div.swiper-slide Oregon
      div.swiper-slide Pennsylvania
      div.swiper-slide Rhode Island
      div.swiper-slide South Carolina
      div.swiper-slide South Dakota
      div.swiper-slide Tennessee
      div.swiper-slide Texas
      div.swiper-slide Utah
      div.swiper-slide Vermont
      div.swiper-slide Virginia
      div.swiper-slide Washington
      div.swiper-slide West Virginia
      div.swiper-slide Wisconsin
      div.swiper-slide Wyoming

  //- //- Slider main container
  //- .swiper-container
  //-   //- Additional required wrapper
  //-   .swiper-wrapper
  //-     //- Slides
  //-     div.swiper-slide USA
  //-     div.swiper-slide AL
  //-     div.swiper-slide AK
  //-     div.swiper-slide AZ
  //-     div.swiper-slide AR
  //-     div.swiper-slide CA
  //-     div.swiper-slide CO
  //-     div.swiper-slide CT
  //-     div.swiper-slide DE
  //-     div.swiper-slide FL
  //-     div.swiper-slide GA
  //-     div.swiper-slide HI
  //-     div.swiper-slide ID
  //-     div.swiper-slide IL
  //-     div.swiper-slide IN
  //-     div.swiper-slide IA
  //-     div.swiper-slide KS
  //-     div.swiper-slide KY
  //-     div.swiper-slide LA
  //-     div.swiper-slide ME
  //-     div.swiper-slide MD
  //-     div.swiper-slide MA
  //-     div.swiper-slide MI
  //-     div.swiper-slide MN
  //-     div.swiper-slide MS
  //-     div.swiper-slide MO
  //-     div.swiper-slide MT
  //-     div.swiper-slide NE
  //-     div.swiper-slide NV
  //-     div.swiper-slide NH
  //-     div.swiper-slide NJ
  //-     div.swiper-slide NM
  //-     div.swiper-slide NY
  //-     div.swiper-slide NC
  //-     div.swiper-slide ND
  //-     div.swiper-slide OH
  //-     div.swiper-slide OK
  //-     div.swiper-slide OR
  //-     div.swiper-slide PA
  //-     div.swiper-slide RI
  //-     div.swiper-slide SC
  //-     div.swiper-slide SD
  //-     div.swiper-slide TN
  //-     div.swiper-slide TX
  //-     div.swiper-slide UT
  //-     div.swiper-slide VT
  //-     div.swiper-slide VA
  //-     div.swiper-slide WA
  //-     div.swiper-slide WV
  //-     div.swiper-slide WI
  //-     div.swiper-slide WY
