@import "@fivethirtyeight/interactive-styles";

// Swiper cards

.state-cards {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 60px;
  right: 0;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    line-height: 1.2;
  }
}

// Swiper picker

.state-picker {
    height: 60px;
    background: black;
    top: calc( 100vh - 60px);
    position: relative;

    .swiper-slide {
      color: #555555;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      text-align: center;
      line-height: 1.2;
    }

    .swiper-slide-prev,
    .swiper-slide-next {
      font-size: 14px;
      color: gray;
    }

    .swiper-slide-active {
      color: white;
      font-size: 16px;
    }
}


